.swagger-ui .json-viewer-button {
    position: absolute;
    bottom: 10px;
    right: 145px;
    width: 30px;
    height: 30px;
    background: #7d8293;
    border-radius: 4px;
    border: none;
}

.swagger-ui .json-viewer-button button {
    padding-left: 25px;
    border: none;
    height: 25px;
    background-size: contain !important;
    /* background: url("icons/json_1.png") 50% no-repeat; */
}

.swagger-ui .highlight-code.json-viewer-selected .json-viewer-button {
    border: 1px solid white;
}


.highlight-code > .microlight {
    display: inherit;
}
.highlight-code > pre.json-viewer {
    display: none;
}

.highlight-code.json-viewer-selected > .microlight {
    display: none;
}
.highlight-code.json-viewer-selected > pre.json-viewer {
    display: inherit;
}